<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>EyeVocab APP</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#FFFFFF" />


  </head>
  <body>
    <h1>EyeVocab</h1>
    <h2>Spooky Good Language Learning</h2>

    <%-htm%>

  </body>
</html>
