<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>EyeVocab APP</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
    <!-- <link rel="stylesheet" href="./lib/simple-keyboard/simple-keyboard.css"> -->

    <style>
      /**
       * Disabling double-tap to zoom in iOS 10+
       * as it interferes with simple-keyboard
       */
      body,
      html {
        touch-action: manipulation;
      }
    </style>

  </head>
  <body>
    <div id="m-app"></div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard-layouts@latest/build/index.min.js"></script> -->
    <script src="/lib/keyboard.js"></script>


  </body>
</html>
